<!DOCTYPE html>
<html>
  <head>
    <title>Student Performance</title>
  </head>
  <body>
    <h1>Student Performance By Race/Ethnicity:</h1>
    <form action="{{ url_for('predict')}}" method="POST">
      math_score(Entry: 0-100):
      <input type="number" name="math_score" />
      <br />

      reading_score(Entry: 17-100):
      <input type="number" name="reading_score" />
      <br />

      writing_score(Entry: 10-100): <input type="number" name="writing_score" />
      <br />

      <input type="submit" value="Submit" />
    </form>
    My Prediction: {{predict}}
    <br />
    <br />
    <h5>Result from Prediction:</h5>
    <br />
    <label>0 = Group A </label><br />
    <label>1 = Group B </label><br />
    <label>2 = Group C </label><br />
    <label>3 = Group D </label><br />
    <label>4 = Group E </label><br />
  </body>
</html>
